body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-red,
.box-green{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.box-red{
    background-color: red;
    transition: background-color 1s;
}

.box-red:hover{
    background-color: yellow;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 4s;
}

.box-green{
    background-color: rgb(11, 204, 5);
    transition: all 1s linear 0s;
}
.box-green:hover{
    transition: all 1s cubic-bezier(.29, 1.01, 1 , -0.68);
    background-color: rgb(255, 0, 0);
    width: 300px;
    height: 300px;
}
